#head {
    color: aqua;
}

.link {color: rgb(56, 56, 193);}

 h1 {color: tan;} 
 h2 {color: brown;}

.introduction  {color: chartreuse;}

#reasons  {color: crimson;}
#reasons  ul {color: darkolivegreen;}

#task {color: violet;}
.item {color: darkseagreen;}